<template>
    <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" :src="product.image" alt="..." /></div>
                    <div class="col-md-6">
                        <div class="small mb-1">артикул: {{ product.vendor_code }}</div>
                        <h1 class="display-5 fw-bolder">{{product.title}}</h1>
                        <div class="card-text" v-for="attr2 in product.Attributes" :key="attr2.attribute_value">
                            <p><small class="text-muted">{{attr2.attribute_name}}</small></p>
                            <p><small class="card-text"> {{attr2.attribute_value}} {{attr2.unit}}</small></p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
        <a name="" id="" class="btn btn-primary" href="/" role="button" style="position: absolute; bottom: 40px">Back</a>
</template>

<script>

    export default{
        data(){
            return{
                product: {
                        id: 1,
                        title: "Test product1",
                        vendor_code: "art-1233",
                        image: "http://via.placeholder.com/300",
                        slug: "product-slug1",
                        Attributes: [
                            {
                                attribute_name: "Диаметр коронки",
                                attribute_value: 150,
                                unit: "cm"
                            },
                            {
                                attribute_name: "Диаметр коронки",
                                attribute_value: 1250,
                                unit: "cm"
                            }
                            ,
                            {
                                attribute_name: "Диаметр коронки",
                                attribute_value: 1250,
                                unit: "cm"
                            }
                            ,
                            {
                                attribute_name: "Диаметр коронки",
                                attribute_value: 1250,
                                unit: "cm"
                            }
                        ]
                    }
            }
        },
        mounted(){
            console.log(location.href.split('/')[4]);
        }
    }
</script>