<template>
    <CardProduct :products="product" v-for="product in productsData.products" :key="product.id"/>
    <PaginationComponent style="position: absolute; bottom: 40px" :pages="productsData.pages"/>
    
</template>

<script>
import CardProduct from '../components/CardProduct.vue';
import PaginationComponent from '../components/PaginationComponent.vue'
export default {
    components: {CardProduct, PaginationComponent},
    data(){
        return{
            productsData: {
                pages: 4,
                products: [
                    {
                        id: 1,
                        title: "Test product1",
                        vendor_code: "art-1233",
                        image: "http://via.placeholder.com/300",
                        slug: "product-slug1",
                        attributes: [
                            {
                                attribute_name: "Диаметр коронки",
                                attribute_value: 150,
                                unit: "cm"
                            }
                        ]
                    },
                    {
                        id: 2,
                        title: "Test product2",
                        vendor_code: "art-1233",
                        image: "http://via.placeholder.com/300",
                        slug: "product-slug2",
                        attributes: [
                            {
                                attribute_name: "Диаметр коронки",
                                attribute_value: 1250,
                                unit: "cm"
                            }
                        ]
                    },
                    {
                        id: 3,
                        title: "Test product3",
                        vendor_code: "art-1233",
                        image: "http://via.placeholder.com/300",
                        slug: "product-slug3",
                        attributes: [
                            {
                                attribute_name: "Диаметр коронки",
                                attribute_value: 1350,
                                unit: "cm"
                            }
                        ]
                    }
                ]
            }
        }
    }
}
</script>

<style>
    
</style>