<template>
    <div class="col mb-5" style="max-width: 300px;">
        <div class="card h-100">
            <img :src="products.image" class="img-fluid rounded-start" alt="">
            <div class="card-body p-4">
                <div class="text-center">
                    <small class="text-muted">артикул: {{ products.vendor_code }}</small>
                    <a :href="'/product/' + products.slug" style="text-decoration: none; color: inherit;">
                        <h5 class="card-title">{{ products.title }}</h5>
                    </a>
                    <div class="card-text" v-for="attr in products.attributes" :key="attr.products">
                        <p><small class="text-muted">{{attr.attribute_name}}</small></p>
                        <p><small class="card-text"> {{attr.attribute_value}} {{attr.unit}}</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</template>

<script>
    export default {
        props: ['products']
    }
</script>
