<template>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item" v-for="page in pages" :key="page"><a class="page-link" href="#">{{page}}</a></li>
        </ul>
    </nav>
</template>

<script>
    export default{
        props: ['pages']
    }
</script>